<section class="phx-hero">
  <div class="login">
    <%= form_for @conn, Routes.page_path(@conn, :join), [], fn _ -> %>
      <h1>Join game</h1>
      <div class="form-input">
        <label for="">Username</label>
        <input type="text" value="" name="name">
      </div>
      <button><%= gettext("Login") %></button>
    <% end %>
  </div>
</section>